body{
    font-family: 'Roboto',sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.navbar {
    box-shadow: 0 2px 5px rgba(4, 0, 0, 0.287);
}
.navbar-nav .nav-item {
    margin-right: 15px;
}
.logo{
    width: 100px;
}
.nav-link {
    display: flex;
    align-items: center;
}

.nav-link i {
    margin-right: 5px;
}

.dropdown-menu {
    min-width: 200px;
}

.dropdown-item {
    display: flex;
    align-items: center;
}

.dropdown-item i {
    margin-right: 5px;
}
@media (max-width: 768px) {
    .navbar-nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 60px;
        left: 0;
    }
    .nav-item {
        margin: 0;
        text-align: center;
        padding: 10px 0;
    }
    .nav-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 30px;
        cursor: pointer;
    }
    .nav-open .navbar-nav {
        display: flex;
    }
}
