{% extends 'menu.html' %}
{% load static %}

{% block title %} Apertura de Caja{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/apertura.css' %}">
{% endblock %}
{% block content %}
    <div class="contenedor card">
        <form action="{% url 'apertura' %}" id="apertura" method="POST">
            {% csrf_token %}
            <h1>APERTURA DE CAJA</h1>
            <table>
                <p>Empleado: {{user.username}}</p>
                <p>Fecha: {{ formulario_apertura.instance.fecha_apertura|date:"d/m/Y"}} Hora: {{ formulario_apertura.instance.fecha_apertura|time:"H:i"}}</p>
                <p>Saldo inicial $ <input type="number" name="saldo_inicial" value="{{ formulario_apertura.instance.saldo_inicial }}" required></p>
            </table>
            <input type="submit" value="Abrir Caja" id="abrirCaja">
        </form>
    </div>
    {% block extrajs %}
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="{% static 'js/apertura.js' %}"></script>
    {% endblock extrajs %}
{% endblock %}
