<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Cambiar Contraseña</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'cambiar_contraseña' id_empleado=id_empleado %}" >
                {% csrf_token %}
                <table>
                    {{ cambiar_password.as_table }}  
                </table>
                <button type="submit" class="btn btn-primary" id="btn-cambiar">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </form>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll('#btn-cambiar').forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            const form = this.closest('form');
            const password = form.querySelector('input[name="password"]').value;
            const passwordConfirm = form.querySelector('input[name="password_confirm"]').value;

            if (password !== passwordConfirm) {
                notificacionSwal("Error", "Las contraseñas no coinciden.", "error", "Ok");
                return;
            }

            Swal.fire({
                title: "¿Confirma cambiar la contraseña?",
                text: "",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Ok",
                cancelButtonText: "Cancelar",
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                backdrop: true,
                showLoaderOnConfirm: true,
                preConfirm: () => form.submit(),
                allowOutsideClick: false,
                allowEscapeKey: false,
            }).then(result => {
                if (result.isConfirmed) {
                    notificacionSwal("Contraseña modificada con éxito", "", "success", "Ok").then(() => {
                        window.location.href = urlLogin;
                    });
                }
            });
        });
    });
</script>