{% extends 'menu.html' %}
{% load static %}

{% block title %}Ticket{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/factura.css' %}">
{% endblock %}
{% block content %}
    <div class="contenedor card">
        <h1>Ticket N° {{venta.id}}</h1>
        <img src="/static/IMAGENES/logoOficialMatrix.png" alt="logo-matrix">
        <p>Dirección: Calle Los Delfines nº 270 casa nº 11</p>
        <p>WhatsApp: 3875814670</p>
        <p>Email: matrixmotos_saltacapital@gmail.com</p>
        <p>Seguinos en @matrix_repuestosmot</p>
        <p> Fecha: {{venta.fecha|date:"d/m/Y"}} Hora: {{venta.fecha|time:"H:i"}}</p>
        <p>Método de Pago: {{venta.get_metodo_pago_display}}</p>
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
            </tr>
            <tbody>
                {% for producto in productos_a_vender %}
                <tr>
                    <td>{{ producto.producto.nombre }}</td>
                    <td>{{ producto.producto.precio }}</td>
                    <td>{{ producto.cantidad}}</td>
                    <td>${{ producto.subtotal }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">Total</td>
                    <td>${{ venta.total_venta }}</td>
                </tr>

            </tbody>
        </table>     
        <br><p>Gracias por su compra. Lo esperamos nuevamente</p> 
        <button onclick="window.location.href='{% url 'nueva_venta' %}'">Volver</a></button>
    </div>

{% endblock %}
