{% extends 'menu.html' %}
{% load static %}

{% block title %} Historial de Compras{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/historial_compras.css' %}">
{% endblock %}
{% block content %}
    <div class="contenedor card">
        <h2>HISTORIAL DE COMPRAS</h2>
        <table border="1">
            <tr>
                <th>ID Compra</th>
                <th>Empleado</th>
                <th>Fecha</th>
                <th>Método de Pago</th>
                <th>Total Compra</th>
                <th>Productos Comprados</th>
            </tr>
            <tbody>
                {% for compra in historial_compras %}
                    <tr>
                        <td>{{compra.id}}</td>
                        <td>{{compra.empleado.username}}</td>
                        <td>{{compra.fecha_compra}}</td>
                        <td>{{compra.get_metodo_pago_display}}</td>
                        <td>${{compra.total}}</td>
                        <td><a href="{% url 'ver_detalle_compra' compra.id %}">Ver Productos</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
